body{
	padding-top: 60px;
}
h1,h2,h3{ font-weight: normal; }
#content{
	min-height: 600px;
}

.tab-pane{
	padding: 20px 0;
}

fieldset label{
	font-weight: normal;
}

#content > header{
	margin-bottom: 30px;
	border-bottom: 1px solid #eee;
}

footer{
	margin-top: 60px;
}
.label-thin{
	font-weight: normal;
}

#advanced-search{

}

#advanced-search .dropdown-menu{
	width: 700px;
	padding: 20px;
}

#profile-thumbnail{
	width: 150px;
	height: 150px;
}
#profile-thumbnail img {
	width: 100%;
	height: 100%;
}
.table th{
	font-size: 13px;
	color: #333;
}
.table td, .table td a{
	font-size: 13px;
	color: #555;
}
.table-title, .table-title a{
	font-weight: bold;
	color: #333;
}