h1,h2,h3{ font-weight: normal; }
#content{
	min-height: 700px;
}

.tab-pane{
	padding: 30px 10px;
}

fieldset label{
	font-weight: normal;
}

#content > header{
	margin-bottom: 30px;
	border-bottom: 1px solid #eee;
}

footer{
	margin-top: 60px;
}
.label-thin{
	font-weight: normal;
}