@import url(https://fonts.googleapis.com/css?family=Cuprum);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);
html{
	min-height: 100%;
}
body{
	font-family: "Open Sans", sans-serif;
}
html, body, .container-fluid, #sidebar, #content{
	min-height: 100%;
	height: 100%;
}
h1,h2,h3{ 
	font-weight: normal; 
	font-family: "Open Sans", sans-serif;
}
.modal-content{
	border-radius: 3px;
}

.panel-default .panel-heading{
	background: #fff;
}
.modal-header, .panel-heading{
	padding: 10px 13px;
}
.modal-header{
	background: #f1f1f1;
}

.modal-title, .panel-heading{
	font-weight: bold;
	font-size: 14px;
}
.help-block{
	font-size: 12px;
}
.cell-label:hover{
	cursor: pointer;
}
.row-md{
	max-width: 1200px;
}
.row-margin-md{
	margin-top: 20px;
	margin-bottom: 20px;
}
.row-margin-lg{
	margin-top: 40px;
	margin-bottom: 40px;
}

.row-padding-md{
	padding-top: 20px;
	padding-bottom: 20px;
}
.row-padding-lg{
	padding-top: 40px;
	padding-bottom: 40px;
}

.modal label{
	font-size: 12px;
	color: #4c4c4c;
}
.media, .media-body{
	overflow: visible;
}

.media.member{
	border: 1px solid #eee;
	margin: 20px;
	height: 102px;
}
.member h4 a{
	font-size: 14px;
	font-weight: bold;
}
.member .media-body{
	padding: 10px;
}

.member .media-actions{
	padding: 30px 10px 0 0;
}

#content{
	min-height: 600px;
}

#sidebar{
	position: fixed;
	width: 220px;
	top: 0;
	left: 0;
	background: #1D1E23;
	color: #fff;
	z-index: 999;
}
#sidebar a{
	color: #c5cfdd;
}
#sidebar h1{
	margin-top: 0;
	text-align: center;
}
#sidebar h1 a{
	font-family: 'Cuprum', sans-serif;
	font-weight: 200;
	color: #fff;
}
#sidebar h6{
	font-weight: bold;
}

#navbar-top.navbar-default{
	background: #fff;
	padding: 10px 20px;
}

#navbar-top .navbar-form{
	width: 50%;
}
#navbar-top .navbar-brand{
	font-size: 26px;
	color: #000 !important;
}

#navbar-top .navbar-form .input-group{
	width: 100%;
}

#header{
	padding: 11px 20px 10px 20px;
	background: #1D1E23
}

#header{
	border-bottom: 1px solid #333;
}
#header a:hover{
	text-decoration: none;
}
#header .thumbnail{
	width: 60px;
	height: 60px;
	background: none;
	border: none;
	margin: auto
}
#header .thumbnail img{
	border-radius: 3px;
}
#header figcaption{
	padding-top: 10px;
}

#main-header{
	max-height: 80px;
	padding: 20px 0;
	border: 1px solid #ccc;
}
#main-button{
	float: left;
	margin-top: 10px;
}

#main-header h2, #search-box{
	display: inline;
}

#search-box{
	width: 50%;
	max-width: 600px;
}

#main-menu li a{
    display: block;
    line-height: 40px;
    color: #ccc;
    transition: all .2s;
    font-size: 14px;
    text-decoration: none;
    position: relative;
    padding: 0 20px;
    font-family: "Open Sans", sans-serif;
}

#main-menu .caret{
	margin-top: 13px;
	margin-right: -5px;
}
#main-menu ul > li a i{
	font-size: 22px;
	margin-right: 12px;
	width: 22px;
	color: #aaa;
}
#main-menu > ul > li.active, #main-menu > ul > li.child-active{
	background: #30333A;
	border-left: 3px solid #2980b9;
}

#main-menu li.active > a{
	color: #fff;
}

#main-menu li.child-active > a{
	color: #ccc;
}

#main > .container-fluid > .row{
	padding: 20px
}
.panel{
	border-radius: 2px;
}

#sign-out{
	position: fixed;
	bottom: 20px;
	left: 70px;
}

#main{
	position: relative;
	overflow: hidden;
	padding-left: 220px;
	padding-bottom: 100px;
	min-height: 100%;
}

.tab-pane{
	padding: 20px 0;
}

fieldset label{
	font-weight: normal;
}

#content > header{
	margin-bottom: 30px;
	border-bottom: 1px solid #eee;
}

#footer{
	position: absolute;
	bottom: 0;
}

.label-thin{
	font-weight: normal;
}

#advanced-search{

}

#advanced-search .dropdown-menu{
	width: 700px;
	padding: 20px;
}

.table th{
	font-size: 13px;
	color: #333;
}
.table td, .table td a{
	font-size: 13px;
	color: #555;
}

.table-title, .table-title a{
	font-weight: bold;
	color: #333;
}

.table-title img{
	margin-right: 8px;
}

.panel-group{
	padding: 20px;
}
.panel-group.sortable li{
	max-width: 500px;
	margin: 10px 0;
}

.panel-subject{
	margin-left: 20px;
}

.ui-state-highlight{
	border: 1px dashed #ccc;
	height: 40px;
}

li[placeholder-subject]{
	margin-left: 20px !important;
}

.panel-period {
  border-color: #03A9F4;
}
.panel-period > .panel-heading {
  color: #fff;
  background-color: #039BE5;
  border-color: #03A9F4;
}
.panel-period > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #03A9F4;
}
.panel-period > .panel-heading .badge {
  color: #039BE5;
  background-color: #2980b9;
}
.panel-period > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #03A9F4;
}

.sortable .panel:hover{
	cursor: move;
}

.form-control{
	border: 1px solid #dedede;
	border-radius: 2px;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}
.form-control:active, .form-control:focus{
	box-shadow: none;
	border: 1px solid #dedede;
	margin-left: -3px;
	border-left: 3px solid #2980B9
}

/* #Buttons
==================================================*/

.btn{
	border-radius: 2px;
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #29d;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

.nav img{
	border-radius: 2px;
}

#subject-orders{

}

#subject-orders header.panel-heading{
	height: 50px;
}

.nav-tabs>li>a{
	color: #888;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
	border-top: 3px solid #e74c3c;
}
tr.inactive > td{
	color: #888;
	background: #eee
}

#profile-picture{
	width: 150px;
	height: 150px;
}

#profile-picture img {
	width: 100%;
	height: 100%;
	border-radius: 5px 5px 0 0;
}

#profile-picture{
	position: relative;
}

#update-profile-picture{
	width: 100%;
	padding: 5px;
	height: 50px;
	background: rgba(0, 0, 0, .5);
	margin-top: -50px;
	z-index: 99;
	position: absolute;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	display: none;
	transition: opacity 1s ease-out;
}

#update-profile-picture i{
	font-size: 20px;
}

#profile-picture:hover #update-profile-picture{
	display: block;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#table-schedule th, #table-schedule td{
	width: 100px;
	height: 100px;
	min-width: 100px;
	vertical-align: middle;
}

#table-schedule thead th{
	height: 50px;
	vertical-align: middle;
}

#table-schedule td{
	text-align: center;
}

#table-schedule .text-muted{
	font-size: 16px;
	display: none;
}

#table-schedule td:hover{
	cursor: pointer;
	background: #efefef;
}

#table-schedule td:hover .text-muted{
	display: block;
}

.btn-toolbar{
	margin-bottom: 30px;
}

.btn-group.right{
	float:right;
}

#ajax-users-list, #queue-users-list{
	border: 1px solid #eee;
}

#ajax-users-list li, #queue-users-list li{
	margin-bottom: 10px;
	font-weight: bold;
	color: #0675b9;
}

#ajax-users-list li:hover{
	cursor: pointer;
	background: #0675b9;
	color: #fff;
}

#ajax-users-list img, #queue-users-list img{
	width: 48px;
	height: 48px;
}

#ajax-users-list li.not-found{
	background: #ccc;
	font-weight: normal;
	color: #222;
	padding: 8px 10px;
}

#queue-users-list .btn{
	margin: 15px 15px 0 0;
}

.card header{
	background: #2980b9;
	text-align: center;
	padding: 20px 15px;
	border-radius: 5px 5px 0 0;
}
.card h2{
	font-size: 18px;
}
.card a{
	color: #fafafa;
}
.card td, .card th{
	border: none !important;
}
.card-body{
	border: 1px solid #eee;
	padding: 10px;
}

.progress-thin{
	height: 5px;
}

/** OffCanvas */
/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

.row-offcanvas{
	height: 100%;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {

	#sidebar{
		position: absolute;
		left: -220px;
	}

	#main{
		top: 0;
		padding-left: 0;
		width: 100%;
	}
	
	.btn-offcanvas{
		position: fixed;
		z-index: 999;
	}
  .row-offcanvas {

    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -220px; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: 220px; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 220px; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 220px; /* 6 columns */
  }
}

/** Buttons */
.btn-primary {
    background-color: #039BE5;
    border-color: #039BE5;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus{
	background-color: #0288D1;
    border-color: #0288D1;
}

#advanced-search .form-control{
	display: block;
	width: 100%
}

.login-container{
	padding-top: 200px;
}
.panel-body-md{
	padding: 30px;
}
.panel-body-lg{
	padding: 40px;
}